* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  border: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}


button{
  width: 100px;
  height: 50px;
}

button:hover{
  opacity: 0.65;
}

.login{
  display: flex;
  flex-direction: column;
}

input{
  margin: 5px;
}